* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* #hero {
    display: flex;
    align-items: center;
} */


#hero {
    background-image: url(../assets/images/hero3.jpg);
    /* setting width and height */
    width: 100vw;
    height: 125vh;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    /* align-content: center; */
    color: white;
    /* margin-bottom: 100px; */
    /* margin-right: 0px; */
    /* margin-top: -600px; */
} 

#hero-overlay {
    background-color: rgb(0, 0, 0, 0.6);
    background-size: contain;
    position: absolute;
    top: 0;
    color: white;
    height: 125vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    z-index: 0;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */
}

.font-one {
    font-family: "nunito", sans-serif;
    font-size: 3.9rem;
    font-weight: bold;
}

.font-two {
    font-family: "nunito", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #C6C6C7;

}

.hero-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.search-container {
    background-color: white;
    padding: 5px px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

.search-container input[type="text"] {
    width: 300px;
    height: 33px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 12px;
    outline: none;
}

.dropdown {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 300px;
    height: 35px;
}

.dropdown hover {
    background-color: gray;
}

.btn-search {
    background-color: #89BA16;
    width: 300px;
    height: 52px;
    padding: 10px;
    border: none;
    border: 1px solid #89BA16;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    outline: none;   
}

/* doint the trending part of the hero section */
#hero-trending {
    display: flex;
    margin-right: 500px;
    width: 300px;
    height: 80px;
    /* color: #89BA16; */
}



