/* Reset all element margins to 0. The asterisk sign * is called the all selector*/
* {
    margin: 0;
    padding: 0;
}

/* Styles the navigation bar logo */
#nav-logo {
    width: 150px /* to set the width and height later*/
}

/* working on the nav now */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100vw;
    position: fixed;
}

#nav-links {
    display: flex;
    column-gap: 30px;
}
